@model TakmicenjeIndexVM
@{
    ViewData["Title"] = "Index";
}
<h3>Odabir</h3>
    <form method="post">
        <label>Škola domaćin: </label>
        <select asp-for="skolaID" asp-items="Model.skole" class="form-control" required></select>
        <label>Razred: </label>
        <select asp-for="razred" asp-items="Model.razredi" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <br />
        <input type="submit" value="Odaberi" />
    </form>
